@import "tailwindcss";

@layer utilities {
  .font-display {
    font-family: var(--font-body);
  }
  .font-body {
    font-family: var(--font-body);
  }
  .font-mono {
    font-family: var(--font-mono);
  }
}